@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

a {
  font-family: 'Poppins', sans-serif;
}

p,
span {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
}

.reactMarkDown h1 {
  font-size: xx-large;
}

.reactMarkDown p {
  font-size: 1.15em;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

.reactMarkDown ul {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: disc outside none;
}

.reactMarkDown ul li {
  margin-left: 2em;
  display: list-item;
  text-align: -webkit-match-parent;
}

.reactMarkDown table {
  border-collapse: collapse;
  width: 100%;
}

.reactMarkDown th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.reactMarkDown .line-break {
  white-space: pre-wrap;
}
